*{

}
body{
    

    box-sizing: border-box;
    max-width: 800px;
    background-color:whitesmoke ;
    margin-top: 100px, gray ;
    margin-bottom: 100px, gray;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 5%;
    margin-left: 40%, blue
    ;
    margin-right: 40%,blue;
    
    
}
.haromkep{
    display: flex;
    gap: 2%;
   
}
img{
    width: 33.3%;
    
    
}
header{
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    gap: 40px;
    padding: 10px;
    max-width: 100%;
}
button{
    border-radius: 35%;
}